@import "tailwindcss";

@theme {
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;
}

@layer base {
    @media (max-width: 768px) {
        :root {
            --text-sm: 0.95rem;
            --text-xs: 0.85rem;
        }
    }
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}